// Make sure to set max-width = 100% on img for editor display



 /* !WP-Editor content styles
===============================================================================*/

#tinymce.wp-editor {
	//background: #EFEFEF;
	h2 {
		background: pink;
	}
	strong {
		font-family: $font-stack-bold;
		font-weight: normal !important;
	}
} // end tinymce.ep-editor




// Custom ACF code which styles the backed
// Add style to WYSIWYG custom field wrapper class and add "hwid-" before the style
// http://hereswhatidid.com/2015/08/customize-acf-wysiwyg-input-styles/
#tinymce.wp-editor {
	&.hwid-content {
		h2 {
			background: blue;
		}
	}
} // end acf tinymce.wp-editor



