
@font-face {
  font-family: 'lg';
  //font-style: italic;
  //font-weight: 400;
  src:  url('../fonts/lg.woff') format('woff');
}


@font-face {
  font-family: 'flexslider-icon';
  src:  url('../fonts/flexslider-icon.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'Noteworthy-Light';
  src:  url('../fonts/Noteworthy-Light.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'Noteworthy-Bold';
  src:  url('../fonts/Noteworthy-Bold.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-Light';
  src:  url('../fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-LightIt';
  src:  url('../fonts/ProximaNova-LightIt.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-Regular';
  src:  url('../fonts/ProximaNova-Regular.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-RegularIt';
  src:  url('../fonts/ProximaNova-Regular.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-Bold';
  src:  url('../fonts/ProximaNova-Bold.woff') format('woff');
}
@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'ProximaNova-BoldIt';
  src:  url('../fonts/ProximaNova-BoldIt.woff') format('woff');
}


@font-face {
  font-family: 'ProximaNova-Extrabld';
  //font-style: italic;
  //font-weight: 400;
  src:  url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'VAGRoundedLT-Thin';
  src:  url('../fonts/VAGRoundedLT-Thin.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'VAGRoundedLT-Light';
  src:  url('../fonts/VAGRoundedLT-Light.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'VAGRoundedLT-Bold';
  src:  url('../fonts/VAGRoundedLT-Bold.woff') format('woff');
}


@font-face {
  //font-style: italic;
  //font-weight: 400;
  font-family: 'VAGRoundedLT-Black';
  src:  url('../fonts/VAGRoundedLT-Black.woff') format('woff');
}
