/*-------------------------------------------------------------------------------------------*/
/* Internet Explore (IE) fixes
/*-------------------------------------------------------------------------------------------*/


// Small Screen - Mobile Media Query
// IE fix for top-bar navigation arrows on medium + display
@media only screen and (min-width: 32em) {
	body.ie {
		.top-bar .menu > li a {
			display: inline-block !important;
			color: red !important;
		}
	}
}



// Fixes ie9 menu issue for custom off-canvas overlay menu
body.ie9 {
	.overlay {
		li {
			opacity: 1;
		}
	}
}