/*-------------------------------------------------------------------------------------------*/
/* Fonts
/*-------------------------------------------------------------------------------------------*/
$font-stack: ProximaNova-Regular, Helvetica, sans-serif;
$font-stack-regular-itc: ProximaNova-RegularIt, Helvetica, sans-serif;
$font-stack-light: ProximaNova-Light, Helvetica, sans-serif;
$font-stack-light-itc: ProximaNova-LightIt, Helvetica, sans-serif;
$font-stack-bold: ProximaNova-Bold, Helvetica, sans-serif;
$font-stack-bold-itc: ProximaNova-BoldIt, Helvetica, sans-serif;
$font-stack-extrabold: ProximaNova-Extrabld, Helvetica, sans-serif;

$font-stack-note-light: Noteworthy-Light, VAGRoundedLT-Light, Helvetica, sans-serif;
$font-stack-note-bold: Noteworthy-Bold, VAGRoundedLT-Bold, Helvetica, sans-serif;

/*-------------------------------------------------------------------------------------------*/
/* Colors
/*-------------------------------------------------------------------------------------------*/
$bodyColor: #000;
$green: mediumseagreen;
$blue: #42b0e4;
$lightblue: #cfdbe5;
$darkblue: #24394f;
$tan: #d4c796;
$darktan: #c7b277;
$gray: #1e374d;
$lightgray: #ebebeb;


/*-------------------------------------------------------------------------------------------*/
/* Animation
/*-------------------------------------------------------------------------------------------*/

$transition: 300ms ease-in-out;



/*-------------------------------------------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------------------------------------------*/

$line-height: 1.5;



/*-------------------------------------------------------------------------------------------*/
/* Navigation Elements
/*-------------------------------------------------------------------------------------------*/
// Set navigation container height
// Change to '0' for the top-bar to overlap content
$nav-height: 100px;
$nav-spacing: 1rem;



/*-------------------------------------------------------------------------------------------*/
/* Fade animation for Foundation 6 and custom tabs */
/*-------------------------------------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
	from {
		opacity: 0; }
	to {
		opacity: 1; }
}

@keyframes fadeIn {
	from {
		opacity: 0; }
	to {
		opacity: 1; }
}
