/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

body.login {
	//background-color: red;
	background-image:url('../build/images/bg-dark-embroidery.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}


#login {

}

// Change the login logo
#login {
	h1 a {
		background: url('../build/images/login-logo.png') no-repeat top center;
		width: 320px;
		height: 67px;
		text-indent: -9999px;
		overflow: hidden;
		//padding-bottom: 15px;
		display: block;
		box-shadow: none; // removes lutline around image link
		&:active {
			outline: 0;
		}
	}
	label {
		font-size: 12px;
		color: #555555;
	}
	input[type="text"],
	input[type="password"] {
	  background-color: white;
	  border-color: #DDD;
	  -webkit-border-radius: 4px;
	  color: black;
	}
	.button-primary {
	    float: right;
	    min-width: 120px;
	    transition: background-color .5s ease;
	    color: #fff;
	    border: none;
	    -webkit-border-radius: 4px;
	    background-color: #36495e !important;
	    box-shadow: none;
	    text-shadow: none;
		&:hover {
			background-color:#37bf9d !important;
		}
		&:active {
			background-color:#17a8e3 !important;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}
	}
}

form {

}

body form .input {

}

// Login Button Style
#wp-submit {

}